/LinearRegression_actual_vs_predicted.png
/Ridge_actual_vs_predicted.png
/Lasso_actual_vs_predicted.png
/RandomForest_actual_vs_predicted.png
/LinearRegression_residual_plot.png
/Ridge_residual_plot.png
/Lasso_residual_plot.png
/RandomForest_residual_plot.png
/predictions_LinearRegression.png
/predictions_Ridge.png
/predictions_Lasso.png
/predictions_RandomForest.png
/predictions_all_models.png
