/LinearRegression_actual_vs_predicted.png
/Ridge_actual_vs_predicted.png
/Lasso_actual_vs_predicted.png
/RandomForest_actual_vs_predicted.png
/LinearRegression_residual_plot.png
/Ridge_residual_plot.png
/Lasso_residual_plot.png
/RandomForest_residual_plot.png
